.container {
    margin: 10px;
    background-color: rgba(red, green, blue);
    padding: 12px;
    position: relative;
    /*width: 50%;*/

}

.close {
    font-family: "comics_sans";
    font-size: 30px;
    font-weight: bolder;
    background-color: black;
    color: rgb(16, 230, 201);
    border-radius: 25%;
}

.carta {    
    
    height: 854px;
    width: 476px;
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow:
        -2px -2px 0 black,
        2px -2px 0 black,
        -2px 2px black,
        2px 2px black;        
        border-radius: 20px;
        border: 5px solid white;       
}

.img{
    border-radius: 20px;
}